[Unit]
Description=Api for go-home home automation
ConditionPathExists=/home/go-home-pirelay-backend/go-home-pirelay-backend/bin/api
After=network.target

[Service]
Type=simple
User=go-home-pirelay-backend
Group=gpio
LimitNOFILE=infinity

# set restart options
Restart=on-failure
RestartSec=10
startLimitIntervalSec=60

# Load config enviroment file
EnvironmentFile=/etc/go-home-pirelay-backend/api/API_CONFIG.env

# set working directory and start api
WorkingDirectory=/home/user/go-home-pirelay-backend/
ExecStart=/home/go-home-pirelay-backend/go-home-pirelay-backend/bin/api -daemon

# make sure log directory exists and owned by syslog
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /var/log/go-home-pirelay-backend
ExecStartPre=/bin/chown syslog:adm /var/log/go-home-pirelay-backend
ExecStartPre=/bin/chmod 755 /var/log/go-home-pirelay-backend
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=go-home-pirelay-backend

[Install]
WantedBy=multi-user.target